body{
    background-color: rgb(43, 40, 40);
    transition: background-color 0.4s ease-in-out;
}
body.light-mode {
    background-color: white;
    color: black;
}
body.light-mode h1,body.light-mode h2,body.light-mode #timer,
body.light-mode .level-buttons button,body.light-mode #light-mode,
body.light-mode .start button{
    color: black;
}
@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
#clickSound,#click-btn,#gameOverSound{
    display: none;
}

h1{
    color: white; 
    font-size: 200%;
    text-align: center;
    /* border: solid 1px white; */

}
.blinking-text{
    color: white; 
    font-size: 200%;
    text-align: center;
    animation: blink 1s infinite;
}
h2{
    color: white;
    font-size: 200%;
    text-align: right;
    margin-right: 10%; 
    
}
.timer {
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
}
.red-timer{
    color: red;
}
#timer {
    color: white;
    font-size: 24px; /* Adjust as needed */
}
.level-buttons,.mode {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.mode{
    top: 14%;
}
.level-buttons button,.mode button {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background-color: transparent;
    color: white;
    transition:color 0.25s,border-color 0.25s,box-shadow 0.25s,transform 0.25s;
}
.level-buttons button.active{
    background-color: #009688;
}
.level-buttons button:focus {
    outline: none;
}

.level-buttons button:hover {
    background-color: #009688;
}
.grid{
    display: flex;
    position: relative;
    top: -260px;
    justify-content: center;
    align-items: center;
}
.grid-container{
    display:grid;
    /* border: solid 4px rgb(172, 155, 155); */
    border:solid 4px #8d99ae;
    background-color: #4c4e50;
    width: 500px;
    height: 500px;
    padding: 4px 2px 4px 6px;        ;
    grid-template-columns: 120px 120px 120px 120px;
    margin-top: 70px;
    gap: 5px 5px;

}   
.grid-item{
    background-color: rgba(99, 98, 98, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease-in-out;
}
.grid-item:hover{
    cursor: pointer;
}
.start{
    width: 100%;
    top: 90%;
    transform: translateY(-50%);
    justify-content: center;
    text-align: center;
    color: white;
    position: absolute;
}  
.start button{
    font-size: 30px;
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background-color: transparent;
    color: white;
    overflow: hidden;
    cursor: pointer;
    transition:color 0.25s,border-color 0.25s,box-shadow 0.25s,transform 0.25s;
    
}
/* button:hover{
    border: none;
    background-color: #009688;
} */
button:hover{
    border-color: #f1ff56;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff56;
    transform: translateY(-0.25em);
    cursor: pointer;
}

#hidden{
    text-align: center;
    display:none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(30, 210, 69);  */
    background-color: rgba(15, 11, 11, 0.4); /* Black w/ opacity */
    padding-top: 60px; /* Location of the box */
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Adjust the margin to center the modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);/*horizontal,vertical,blur rad.,spread rad*/
    animation-name: animatetop;
    animation-duration: 0.4s;   
}
@keyframes animatetop {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1 }
}
.modal-content h2 {
    text-align: center; /* Center the text within the modal */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
